In [1]:
import pandas as pd

In [2]:
source_file = 'airports.dat'
transformed_file = 'transformed_airport_data.csv'
columns_to_select = ['airport_id', 'airport_name', 'airport_city']

df = pd.read_csv(source_file, names=[
    'airport_id', 'airport_name', 'airport_city', 'country', 'iata', 'icao', 
    'latitude', 'longitude', 'altitude', 'timezone', 'dst', 'tz', 'type', 'source'
])[columns_to_select]

In [3]:
df.head()

   airport_id                                 airport_name  airport_city
0           1                               Goroka Airport        Goroka
1           2                               Madang Airport        Madang
2           3                 Mount Hagen Kagamuga Airport   Mount Hagen
3           4                               Nadzab Airport        Nadzab
4           5  Port Moresby Jacksons International Airport  Port Moresby

In [4]:
df.dtypes

airport_id       int64
airport_name    object
airport_city    object
dtype: object

In [6]:
df.airport_name = df.airport_name.apply(lambda x: str(x).replace('/', '/'))
df.airport_city = df.airport_city.apply(lambda x: str(x).replace('/', '/'))

In [8]:
df.to_csv(transformed_file, index=False)